<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:mc="http://typo3.org/ns/RZ/Rzmailchimp/ViewHelpers"
  data-namespace-typo3-fluid="true">

<div class="form-group">
  <label for="{mc:fieldname(field: '{field.title}')}">{field.title}</label>

  <f:if condition="{field.required}">
    <f:then>
      <f:form.textfield id="{mc:fieldname(field: '{field.title}')}" class="form-control" name="fields[{field.value}]" type="text" placeholder="{field.title}" value="{field.inputValue}" data="{parsley-required: '', parsley-required-message: '{f:translate(key: \'parsleyInput\')}'}" />
    </f:then>
    <f:else>
      <f:form.textfield id="{mc:fieldname(field: '{field.title}')}" class="form-control" name="fields[{field.value}]" type="text" placeholder="{field.title}" value="{field.inputValue}" />
    </f:else>
  </f:if>
</div>

</html>