<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  xmlns:mc="http://typo3.org/ns/RZ/Rzmailchimp/ViewHelpers"
  data-namespace-typo3-fluid="true">

<div class="form-group">
  <label for="{mc:fieldname(field: '{field.title}')}">{field.title}</label>
  <select id="{mc:fieldname(field: '{field.title}')}" name="tx_rzmailchimp_mailchimp[fields][{field.value}]" class="form-control" {f:if(condition: field.multiple, then: 'multiple')} {f:if(condition: field.required, then: 'data-parsley-required data-parsley-required-message="{f:translate(key: \'parsleyInput\')}"')}>
    <option value=""><f:translate key="pleaseSelect" /></option>

    <f:for each="{mc:array(options: '{field.options}')}" as="option">
      <option value="{option.title}">{option.title}</option>
    </f:for>
  </select>
</div>

</html>