<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">

<div class="form-group">
	<button type="submit" class="btn btn-primary">
		<f:if condition="{sendLabel}">
			<f:then>
				{sendLabel}
			</f:then>
			<f:else>
				<f:translate key="register" />
			</f:else>
		</f:if>
	</button>
</div>

</html>