<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<f:render partial="Misc/FlashMessages" arguments="{_all}" />

	<f:form action="subscribe" id="rzmailchimp-{uid}" section="rzmailchimp-{uid}" addQueryString="1" data="{parsley-validate: ''}">
		<f:for each="{fields}" as="field">
			<f:render partial="Fieldtypes/{field.type}" arguments="{field: field}" />
		</f:for>

		<f:render partial="Fieldtypes/Submit" arguments="{sendLabel: sendLabel}" />
	</f:form>

</f:section>

</html>