<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true">

	<f:flashMessages as="flashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<f:switch expression="{flashMessage.severity}">
				<f:case value="0">
					<v:variable.set name="severity" value="success" />
				</f:case>
				<f:case value="1">
					<v:variable.set name="severity" value="warning" />
				</f:case>
				<f:case value="2">
					<v:variable.set name="severity" value="danger" />
				</f:case>
				<f:case value="-1">
					<v:variable.set name="severity" value="primary" />
				</f:case>
				<f:case value="-2">
					<v:variable.set name="severity" value="secondary" />
				</f:case>
				<f:defaultCase>
					<v:variable.set name="severity" value="success" />
				</f:defaultCase>
			</f:switch>

			<div class="alert alert-{severity}" role="alert">
				<f:if condition="{flashMessage.title}">
					<f:format.raw>{flashMessage.title}</f:format.raw>
				</f:if>

				<f:if condition="{flashMessage.title} && {flashMessage.message}">
					<br>
				</f:if>

				<f:if condition="{flashMessage.message}">
					<f:format.raw>{flashMessage.message}</f:format.raw>
				</f:if>
			</div>
		</f:for>
	</f:flashMessages>

</html>